.container {
    background-color: rgb(6, 90, 158);
    padding: 15px;
    animation: bgblim 2s infinite forwards;
    max-width: 200px;
    height: 100%;
    transform: translateX(50%);
    border-radius: 10px;
    box-shadow: 1px 2px 5px black;
}

.outpout {
    width: 95%;
    font-size: 2em;
    font-weight: bold;
    background-color: white;
    height: 37px;
    overflow: hidden;
    text-align: end;
}

.touch {
    margin: 15px 0 15px 0;
}

.touch input {
    width: 60px;
    box-shadow: 1px 2px 15px black;
    text-align: center;
    margin-top: 2px;
    border: transparent;
    border-radius: 5px;
}

.touch input:hover {
    color: rgb(234, 243, 250);
    background-color: rgb(6, 90, 158);
}

[value] {
    font-size: 25px;
    font-weight: bold;
}

[value="AC"] {
    color: white;
    background-color: red;
}

input[value="AC"]:hover {
    color: red;
    background-color: white;
}

[value="CE"] {
    color: white;
    background-color: rgb(6, 90, 158);
}

input[value="CE"]:hover {
    color: rgb(6, 90, 158);
    background-color: white;
}

[value="*"],
[value="/"],
[value="-"],
[value="+"],
[value="="] {
    color: white;
    background-color: orange;
}

input[value="*"]:hover,
input[value="/"]:hover,
input[value="-"]:hover,
input[value="+"]:hover,
input[value="="]:hover {
    color: orange;
    background-color: white;
}

.footer {
    color: white;
    font-family: serif;
    font-weight: bold;
}

@keyframes bgblim {
    25% {
        background-color: pink;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: black;
    }
}